.quote{
    background-image: url(../img/pngtree-aesthetic-dark-blue-green-background-infused-with-a-cloudy-texture-image_13683281.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100dvh;
}